/* color reference
  
  lilac - #D8BFD8
  dark gray - #74756a

*/

body {background-color: #D8BFD8}

#wrapper {

  padding-left: 75px;
  padding-top: 75px;
  padding-right: 75px;
  padding-bottom: 75px;

  margin-left: auto;
  margin-right: auto;
  width: 20em;

}


/* Body Border */ 

  #top, #bottom, #left, #right {
  background:   #ffffff;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 10px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 10px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }


/* Fonts */

@font-face {
    font-family: Geo;
    src: url(geo.ttf);
}



span.taller {
    font-family: "Geo";
    font-size: 72px;
    color: #ffffff;
    /* font-weight: lighter; */
    letter-spacing: 10px;
    text-transform: uppercase;
    display: inline-block;
    transform: scaleY(1.3);


}

p {

    font-size: 18px;
    font-family: "Geo";
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: lighter;
    text-transform: normal;
    margin-left: 20%;

            /*taller*/
    display: inline-block;
    transform: scaleY(1.1);


}


/* Navigation */


.button {

    display: inline-block;
    background-color: #D8BFD8;
    border-radius: 15px;
    border-color: white;
    border-style: double;
    padding: 10px 24px;
    color: #ffffff;
    

    /*animation*/

    transition: all 0.5s;
    cursor: none;
    margin: 5px;
}

.button a {
    font-family: "Geo";
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
}

.button span {

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ffffff;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 50;
  top: 0;
  right: -8px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
  #top, #bottom, #left, #right { display: none; }
}